@use '../../styles/variables' as *;

.profile {
  &__content {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;

    &--logout {
      font-size: 16px;
    }
  }

  &__main {
    min-width: 0;
  }

  @media (max-width: 760px) {
    &__content {
      grid-template-columns: 1fr;
    }

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 12px 18px;
    }
  }
}
